<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211715356640-219u6hlmargo3j0jigmb7gd6abv97qas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211715356640-219u6hlmargo3j0jigmb7gd6abv97qas</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211715356640-06pu96ftjn1dgkmctfvgiqhemblqp4ge.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5LWdW6l3gvKpTiqztL--FKG4GUjbUNiM</string>
	<key>GCM_SENDER_ID</key>
	<string>211715356640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthCleanArch</string>
	<key>PROJECT_ID</key>
	<string>notes-29ed2</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-29ed2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211715356640:ios:423a87ca659228bcbd9d85</string>
</dict>
</plist>